@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');
:root {
    --overlay-color: #5a3b22;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img {
    object-fit: cover;
    height: 100%;
    width: 100%showcase;
}


.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--overlay-color);
    color: #222E59;
    z-index: 2;
    transition: 0.5s;
}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    position: relative;
    z-index: 10;
    color: rgb(233, 233, 24);
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
}

.text p {
    font-size: 1.1em;
    margin-top: 1.1em;
    font-weight: 400;
    line-height: 1em;
    max-width: 700px;
}
.text a {
    display: inline-block;
    font-size: 1.1em;
    background: white;
    padding: 0.5em 1.5em;
    text-decoration: none;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;

}.text a:hover {
    letter-spacing: 8px;
}


.showcase video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.8;
}

.showcase.active {
    right: 300px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--overlay-color);
    mix-blend-mode: overlay;
}
.logo {
    text-transform: uppercase;Javascript_Crash_course/ YoutubeJavaScriptCourse

    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(/images/menu.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position:center;
}
.toggle.active {
    background: url(/images/close.png);
    
    background-repeat: no-repeat;
    background-size: 50px;
    background-position:center;
}

.social {
    position: absolute;
    bottom: 5em;
    z-index: 10;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
social li a {
    display: inline-block;
    filter: invert(50%);
    margin-right: 20px;
    transform: scale(.5);
    transition: 0,5s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style-type: none;
}
.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
    color: var(--overlay-color);
}
@media (max-width: 798px) {
    .showcase, .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}